<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#142A26" />
  <title>Peter Cox — Surry Hills Psychology Services</title>
  <meta
    name="description"
    content="Peter Cox is a registered psychologist and psychodynamic psychotherapist working from a private practice in Surry Hills, Sydney."
  />

  <!-- OG data for homepage -->
  <meta property="og:type" content="website" />
  <meta property="og:url" content="{{ site.url }}" />
  <meta name="twitter:url" content="{{ site.url }}" />

  <meta property="og:title" content="{{ site.title }}" />
  <meta name="twitter:title" content="{{ site.title }}" />

  <meta
    property="og:description"
    content="Peter Cox is a registered
  psychologist and psychodynamic psychotherapist working from a private practice
  in Surry Hills, Sydney."
  />
  <meta
    name="twitter:description"
    content="Peter Cox is a registered
  psychologist and psychodynamic psychotherapist working from a private practice
  in Surry Hills, Sydney."
  />

  <meta property="og:site_name" content="{{ site.title }}" />
  <meta name="twitter:card" content="summary_large_image" />
  <meta property="og:image" content="{{ site.url }}/assets/opengraph.jpg" />
  <meta
    name="twitter:image:src"
    content="{{ site.url }}/assets/opengraph.jpg"
  />
  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <link
    rel="canonical"
    href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}"
  />
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}"
  href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />
</head>
