@mixin font-face($name, $path, $formats) {
  @font-face {
    font-family: $name;
    src: unquote(
      "url(#{$path}.woff2) format('woff2'), url(#{$path}.woff) format('woff')"
    );
    font-weight: normal;
    font-style: normal;
  }
}
